<header> 
    <nav class="navbar navbar-expand-lg header-transparent bg-transparent disable-fixed mt-2">
        <div class="container-fluid">
            <div class="col-md-5 d-flex justify-content-between">
                <a href="/admin/pedido-unico" class="fs-28 adminLinks">Pedido Unico</a>
                        
                <a href="/admin/pedido-mayorista" class="fs-28 adminLinks text-base-color fw-600">Pedido Mayorista</a>
                
                <a href="/admin/ventas-adicionales" class="fs-28 adminLinks" >Ventas Adicionales</a>
            </div>
            <div class="col-auto col-lg-2 text-end xs-ps-0 xs-pe-0">
                <div class="header-icon"> 
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow " type="submit">
                            <span> 
                                <span class="btn-text">Log Out</span> 
                                <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span> 
                            </span>
                        </button>
                    </form>
                </div>  
            </div>
        </div>
    </nav>
</header>